.cover_profile {
    width: 375px;
    .profile_img {
        margin: 5px;
        border-radius: 50%;
        width: 160px;
        height: 160px;
        background: url("/img/profile.jpeg") 0 0 / cover no-repeat;
        background-position: 0 -50px;
        transition: transform 250ms;
        -webkit-transition: transform 250ms;
        -moz-transition: transform 250ms;
        -ms-transition: transform 250ms;
        -o-transition: transform 250ms;
    }

    .profile_img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

.cover_content {
    width: 375px;
}
