.App {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "El Messiri", sans-serif;

  &::before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("img/bg.webp") 0 0 / cover no-repeat;
    opacity: 0.9;
    z-index: -1;
  }
}

.content_block {
  border-radius: 15px;
  background: #9c9c9c;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}

.flex_grid {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: wrap;

  > * {
    border: 0;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
